<div class="country-name">
    <h1>{{name}}</h1>
</div>
<div class="country-info">
    <ul>
        <li>Capital: {{capital}}</li>
        <li>Region: {{region}}</li>
        <li>languages: {{languages}}</li>
    </ul>
</div>
<div class="country-flag">
    <img src="{{flag}}" alt="flag country">
</div>